<!-- TITLE -->
<div class="mb-40 mt-40">
    <h1>Report Edit</h1>
</div>
<div class="card mb-40">
    <div class="card-header">
        <i class="fa fa-edit"></i> Edit
    </div>
    <div class="card-body">
        <form #editForm="ngForm" [ngClass]="{'was-validated': formValid!=null}">
            <div class="row justify-content-md-center">
                <div class="col-md-10">
                    <div class="form-group">
                        <label for="date">Date</label>
                        <input type="date" class="form-control" id="date" [(ngModel)]="item.date" name="date" #date="ngModel" >
                    </div>
                    <div class="form-group">
                        <label for="type">Type</label>
                        <select name="type" id="type" [(ngModel)]="item.type" class="form-control" #type="ngModel" >
                            <option value=""></option>
                            <option value="private">private</option>
                            <option value="public">public</option>
                        </select>
                    </div>
                    <!-- RELATIONS -->
                    <h2 class="mb-20">Relations</h2>

                    <label for="Doctor">Doctor</label>
                    <select name="doctor" id="doctor" [(ngModel)]="item.doctor" class="form-control" #doctor="ngModel"  >
                        <option *ngFor="let item of listDoctor" [value]="item._id">{{item.name}}</option>
                    </select>

                    
        

                    <!-- BUTTON BAR -->
                    <div class="mt-40">
                        <button class="btn btn-primary pull-right" (click)="save(editForm.valid, item)">Save</button>
                        <button class="btn btn-secondary pull-right mr-2" (click)="goBack()">Back To List</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>